.commitment-display {
  background-color: chartreuse;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.commitment-display div {
  font-size: 30px;
}

.commitment-container {
  display: flex;
  position: relative;
  flex-direction: row;
  column-gap: 20px;
}

.commitment-display-container {
  position: relative;
}

.delete-commitment-button {
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: brown;
}

.delete-commitment-button:hover {
  cursor: pointer;
}

.commitments-page-container {
  display: flex;
  flex-direction: column;
}
