#time-table {
  position: relative;
  top: 0px;
  bottom: 50px;
  padding-bottom: 20px;
  padding-right: 60px;
  left: 0;
  right: 0;
  z-index: 200;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#time-table-dates {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  margin-left: 10px;
  align-items: flex-start;
  justify-content: space-around;
  flex: 1;
}

#time-stamp-bar {
  position: relative;
  top: 0;
  left: 0;
  z-index: inherit;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 22px;
  min-width: 100px;
}

#time-stamp-bar,
.date-container .time-block-container {
  row-gap: 10px;
}

.time-block {
  background-color: cadetblue;
  width: 110px;
}

.time-block-empty {
  background-color: darkgoldenrod;
  width: 110px;
}

.time-block-container {
  margin-top: 57px;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.date-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.date-container p {
  font-weight: bold;
}

.time-table-header-container {
  display: flex;
}

.time-table-header-padding {
  display: flex;
  flex: 1;
}

.time-table-header-day {
  display: flex;
  justify-content: center;
  flex: 1;
}

.time-table-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 10px;
  flex: 9;
}

.time-table-row-container {
  position: relative;
  left: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.time-table-row-time-container {
  position: relative;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  flex: 1;
  width: 100%;
}

.time-table-row-plan-container {
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 12px;
  flex: 9;
}

.time-table-row-plan-slot {
  display: flex;
  justify-content: center;
  flex: 1;
}

.time-table-body {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
